# Ignore everything
*

# Do not ignore the assets/ directory
!assets/

# Ignore everything inside assets except scripts
assets/*

# Do not ignore the scripts directory inside assets
!assets/scripts/

# Do not ignore all the files inside the scripts directory
!assets/scripts/**
*.meta
